<a href="https://colab.research.google.com/github/soumyaprakashprusti/PathfinderProject/blob/main/PredictionModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install pandas numpy seaborn matplotlib klib dtale scikit-learn joblib pandas-profiling

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (0.11.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.5.3)
Requirement already satisfied: klib in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: dtale in /usr/local/lib/python3.7/dist-packages (2.9.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (1.2.0)
Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.7.3)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (7.1.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (21.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: Jinja2<4.0.0,>=3.0.3 in /usr/local/lib/python3.7/dist-packages (from klib) (3.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.7/dist-packages (from Jinja2<4.0.0,>=3.0.3->klib) (2.1.1)
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (from dtale) (1.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from dtale) (2.23.0)
Requirement already satisfied: dash>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from dtale) (2.7.0)
Requirement already satisfied: itsdangerous in /usr/local/lib/python3.7/dist-packages (from dtale) (2.1.2)
Requirement already satisfied: statsmodels==0.12.2 in /usr/local/lib/python3.7/dist-packages (from dtale) (0.12.2)
Requirement already satisfied: lz4 in /usr/local/lib/python3.7/dist-packages (from dtale) (4.0.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from dtale) (1.1.0)
Requirement already satisfied: strsimpy in /usr/local/lib/python3.7/dist-packages (from dtale) (0.2.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from dtale) (2022.9.24)
Requirement already satisfied: networkx==2.6.3 in /usr/local/lib/python3.7/dist-packages (from dtale) (2.6.3)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from dtale) (5.5.0)
Requirement already satisfied: squarify in /usr/local/lib/python3.7/dist-packages (from dtale) (0.4.3)
Requirement already satisfied: future>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from dtale) (0.16.0)
Requirement already satisfied: missingno<=0.4.2 in /usr/local/lib/python3.7/dist-packages (from dtale) (0.4.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (from dtale) (3.0.10)
Requirement already satisfied: dash-daq in /usr/local/lib/python3.7/dist-packages (from dtale) (0.5.0)
Requirement already satisfied: dash-colorscales in /usr/local/lib/python3.7/dist-packages (from dtale) (0.0.4)
Requirement already satisfied: kaleido in /usr/local/lib/python3.7/dist-packages (from dtale) (0.2.1)
Requirement already satisfied: dash-bootstrap-components in /usr/local/lib/python3.7/dist-packages (from dtale) (1.2.1)
Requirement already satisfied: Flask in /usr/local/lib/python3.7/dist-packages (from dtale) (2.2.2)
Requirement already satisfied: Flask-Compress in /usr/local/lib/python3.7/dist-packages (from dtale) (1.13)
Requirement already satisfied: flask-ngrok in /usr/local/lib/python3.7/dist-packages (from dtale) (0.0.25)
Requirement already satisfied: xarray in /usr/local/lib/python3.7/dist-packages (from dtale) (0.20.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels==0.12.2->dtale) (0.5.3)
Requirement already satisfied: dash-table==5.0.0 in /usr/local/lib/python3.7/dist-packages (from dash>=2.0.0->dtale) (5.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in /usr/local/lib/python3.7/dist-packages (from dash>=2.0.0->dtale) (2.0.0)
Requirement already satisfied: dash-html-components==2.0.0 in /usr/local/lib/python3.7/dist-packages (from dash>=2.0.0->dtale) (2.0.0)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.7/dist-packages (from Flask->dtale) (8.1.3)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.7/dist-packages (from Flask->dtale) (2.2.2)
Requirement already satisfied: importlib-metadata>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from Flask->dtale) (4.13.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=3.6.0->Flask->dtale) (3.10.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=5.0.0->dtale) (8.1.0)
Requirement already satisfied: brotli in /usr/local/lib/python3.7/dist-packages (from Flask-Compress->dtale) (1.0.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->dtale) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->dtale) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->dtale) (2.10)

In [4]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df_train = pd.read_csv("Train.csv")
df_test = pd.read_csv("Test.csv")

In [6]:
df_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
df_train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [8]:
df_train.shape

(8523, 12)

In [9]:
df_test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [10]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [11]:
df_train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [12]:
df_train['Item_Weight'].describe()

count    7060.000000
mean       12.857645
std         4.643456
min         4.555000
25%         8.773750
50%        12.600000
75%        16.850000
max        21.350000
Name: Item_Weight, dtype: float64

In [13]:
df_train['Item_Weight'].fillna(df_train['Item_Weight'].mean(), inplace=True)
df_test['Item_Weight'].fillna(df_test['Item_Weight'].mean(), inplace=True)

In [14]:
df_train.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [15]:
df_train['Item_Weight'].describe()

count    8523.000000
mean       12.857645
std         4.226124
min         4.555000
25%         9.310000
50%        12.857645
75%        16.000000
max        21.350000
Name: Item_Weight, dtype: float64

In [16]:
df_train['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [17]:
df_train['Outlet_Size'].mode()

0    Medium
dtype: object

In [18]:
df_train['Outlet_Size'].fillna(df_train['Outlet_Size'].mode()[0], inplace=True)
df_test['Outlet_Size'].fillna(df_test['Outlet_Size'].mode(), inplace=True)

In [19]:
df_train

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [20]:
df_train.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [21]:
df_train.drop(['Item_Identifier', 'Outlet_Identifier'], axis=1, inplace=True)
df_test.drop(['Item_Identifier', 'Outlet_Identifier'], axis=1, inplace=True)

In [22]:
df_train

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.300,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.920,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.500,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,1998,Medium,Tier 3,Grocery Store,732.3800
4,8.930,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.5218,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,8.380,Regular,0.046982,Baking Goods,108.1570,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,7.210,Regular,0.145221,Snack Foods,103.1332,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,14.800,Low Fat,0.044878,Soft Drinks,75.4670,1997,Small,Tier 1,Supermarket Type1,765.6700

In [23]:
import klib

In [24]:
klib.clean_column_names(df_train) # cleans and standardizes column names, also called inside data_cleaning()

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.300,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.920,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.500,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,1998,Medium,Tier 3,Grocery Store,732.3800
4,8.930,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.5218,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,8.380,Regular,0.046982,Baking Goods,108.1570,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,7.210,Regular,0.145221,Snack Foods,103.1332,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,14.800,Low Fat,0.044878,Soft Drinks,75.4670,1997,Small,Tier 1,Supermarket Type1,765.6700

In [25]:
klib.pool_duplicate_subsets(df_train) # pools subset of cols based on duplicates with min. loss of information

      item_visibility  item_mrp  item_outlet_sales  pooled_vars
0            0.016047  249.8092          3735.1380            0
1            0.019278   48.2692           443.4228            1
2            0.016760  141.6180          2097.2700            2
3            0.000000  182.0950           732.3800            3
4            0.000000   53.8614           994.7052            4
...               ...       ...                ...          ...
8518         0.056783  214.5218          2778.3834         8518
8519         0.046982  108.1570           549.2850         8519
8520         0.035186   85.1224          1193.1136         8520
8521         0.145221  103.1332          1845.5976         8521
8522         0.044878   75.4670           765.6700         8522

[8523 rows x 4 columns]

In [26]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_weight                8523 non-null   float64
 1   item_fat_content           8523 non-null   object
 2   item_visibility            8523 non-null   float64
 3   item_type                  8523 non-null   object
 4   item_mrp                   8523 non-null   float64
 5   outlet_establishment_year  8523 non-null   int64
 6   outlet_size                8523 non-null   object
 7   outlet_location_type       8523 non-null   object
 8   outlet_type                8523 non-null   object
 9   item_outlet_sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 666.0+ KB

In [27]:
df_train

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.300,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.920,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.500,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,1998,Medium,Tier 3,Grocery Store,732.3800
4,8.930,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.5218,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,8.380,Regular,0.046982,Baking Goods,108.1570,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,7.210,Regular,0.145221,Snack Foods,103.1332,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,14.800,Low Fat,0.044878,Soft Drinks,75.4670,1997,Small,Tier 1,Supermarket Type1,765.6700

In [28]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [29]:
klib.convert_datatypes(df_train)

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.3,Low Fat,0.016047,Dairy,249.809204,1999,Medium,Tier 1,Supermarket Type1,3735.137939
1,5.92,Regular,0.019278,Soft Drinks,48.269199,2009,Medium,Tier 3,Supermarket Type2,443.422791
2,17.5,Low Fat,0.01676,Meat,141.617996,1999,Medium,Tier 1,Supermarket Type1,2097.27002
3,19.200001,Regular,0.0,Fruits and Vegetables,182.095001,1998,Medium,Tier 3,Grocery Store,732.380005
4,8.93,Low Fat,0.0,Household,53.861401,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.521805,1987,High,Tier 3,Supermarket Type1,2778.383301
8519,8.38,Regular,0.046982,Baking Goods,108.156998,2002,Medium,Tier 2,Supermarket Type1,549.284973
8520,10.6,Low Fat,0.035186,Health and Hygiene,85.122398,2004,Small,Tier 2,Supermarket Type1,1193.113647
8521,7.21,Regular,0.145221,Snack Foods,103.133202,2009,Medium,Tier 3,Supermarket Type2,1845.597656
8522,14.8,Low Fat,0.044878,Soft Drinks,75.467003,1997,Small,Tier 1,Supermarket Type1,765.669983

In [30]:
klib.data_cleaning(df_train)

Shape of cleaned data: (8523, 10)Remaining NAs: 0

Changes:
Dropped rows: 0
     of which 0 duplicates. (Rows: [])
Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.43 MB (-66.15%)

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.3,Low Fat,0.016047,Dairy,249.809204,1999,Medium,Tier 1,Supermarket Type1,3735.137939
1,5.92,Regular,0.019278,Soft Drinks,48.269199,2009,Medium,Tier 3,Supermarket Type2,443.422791
2,17.5,Low Fat,0.01676,Meat,141.617996,1999,Medium,Tier 1,Supermarket Type1,2097.27002
3,19.200001,Regular,0.0,Fruits and Vegetables,182.095001,1998,Medium,Tier 3,Grocery Store,732.380005
4,8.93,Low Fat,0.0,Household,53.861401,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.521805,1987,High,Tier 3,Supermarket Type1,2778.383301
8519,8.38,Regular,0.046982,Baking Goods,108.156998,2002,Medium,Tier 2,Supermarket Type1,549.284973
8520,10.6,Low Fat,0.035186,Health and Hygiene,85.122398,2004,Small,Tier 2,Supermarket Type1,1193.113647
8521,7.21,Regular,0.145221,Snack Foods,103.133202,2009,Medium,Tier 3,Supermarket Type2,1845.597656
8522,14.8,Low Fat,0.044878,Soft Drinks,75.467003,1997,Small,Tier 1,Supermarket Type1,765.669983

In [31]:
klib.clean_column_names(df_train)

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.300,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.920,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.500,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,1998,Medium,Tier 3,Grocery Store,732.3800
4,8.930,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.5218,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,8.380,Regular,0.046982,Baking Goods,108.1570,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,7.210,Regular,0.145221,Snack Foods,103.1332,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,14.800,Low Fat,0.044878,Soft Drinks,75.4670,1997,Small,Tier 1,Supermarket Type1,765.6700

In [32]:
klib.drop_missing(df_train)

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.300,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.920,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.500,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,1998,Medium,Tier 3,Grocery Store,732.3800
4,8.930,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.5218,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,8.380,Regular,0.046982,Baking Goods,108.1570,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,7.210,Regular,0.145221,Snack Foods,103.1332,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,14.800,Low Fat,0.044878,Soft Drinks,75.4670,1997,Small,Tier 1,Supermarket Type1,765.6700

In [33]:
klib.mv_col_handling(df_train)

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.300,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.920,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.500,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,1998,Medium,Tier 3,Grocery Store,732.3800
4,8.930,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.5218,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,8.380,Regular,0.046982,Baking Goods,108.1570,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,7.210,Regular,0.145221,Snack Foods,103.1332,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,14.800,Low Fat,0.044878,Soft Drinks,75.4670,1997,Small,Tier 1,Supermarket Type1,765.6700

In [34]:
klib.pool_duplicate_subsets(df_train)

      item_visibility  item_mrp  item_outlet_sales  pooled_vars
0            0.016047  249.8092          3735.1380            0
1            0.019278   48.2692           443.4228            1
2            0.016760  141.6180          2097.2700            2
3            0.000000  182.0950           732.3800            3
4            0.000000   53.8614           994.7052            4
...               ...       ...                ...          ...
8518         0.056783  214.5218          2778.3834         8518
8519         0.046982  108.1570           549.2850         8519
8520         0.035186   85.1224          1193.1136         8520
8521         0.145221  103.1332          1845.5976         8521
8522         0.044878   75.4670           765.6700         8522

[8523 rows x 4 columns]

In [35]:
df_train

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.300,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.920,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.500,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,1998,Medium,Tier 3,Grocery Store,732.3800
4,8.930,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.5218,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,8.380,Regular,0.046982,Baking Goods,108.1570,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,7.210,Regular,0.145221,Snack Foods,103.1332,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,14.800,Low Fat,0.044878,Soft Drinks,75.4670,1997,Small,Tier 1,Supermarket Type1,765.6700

In [36]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_weight                8523 non-null   float64
 1   item_fat_content           8523 non-null   object
 2   item_visibility            8523 non-null   float64
 3   item_type                  8523 non-null   object
 4   item_mrp                   8523 non-null   float64
 5   outlet_establishment_year  8523 non-null   int64
 6   outlet_size                8523 non-null   object
 7   outlet_location_type       8523 non-null   object
 8   outlet_type                8523 non-null   object
 9   item_outlet_sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 666.0+ KB

In [37]:
df_train = klib.convert_datatypes(df_train)

In [38]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_weight                8523 non-null   Float32
 1   item_fat_content           8523 non-null   category
 2   item_visibility            8523 non-null   Float32
 3   item_type                  8523 non-null   category
 4   item_mrp                   8523 non-null   Float32
 5   outlet_establishment_year  8523 non-null   int16
 6   outlet_size                8523 non-null   category
 7   outlet_location_type       8523 non-null   category
 8   outlet_type                8523 non-null   category
 9   item_outlet_sales          8523 non-null   Float32
dtypes: Float32(4), category(5), int16(1)
memory usage: 226.2 KB

In [41]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

In [43]:
df_train['item_fat_content'] = le.fit_transform(df_train['item_fat_content'])
df_train['item_type'] = le.fit_transform(df_train['item_type'])
df_train['outlet_size'] = le.fit_transform(df_train['outlet_size'])
df_train['outlet_location_type'] = le.fit_transform(df_train['outlet_location_type'])
df_train['outlet_type'] = le.fit_transform(df_train['outlet_type'])

In [44]:
df_train

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.3,1,0.016047,4,249.809204,1999,1,0,1,3735.137939
1,5.92,2,0.019278,14,48.269199,2009,1,2,2,443.422791
2,17.5,1,0.01676,10,141.617996,1999,1,0,1,2097.27002
3,19.200001,2,0.0,6,182.095001,1998,1,2,0,732.380005
4,8.93,1,0.0,9,53.861401,1987,0,2,1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,1,0.056783,13,214.521805,1987,0,2,1,2778.383301
8519,8.38,2,0.046982,0,108.156998,2002,1,1,1,549.284973
8520,10.6,1,0.035186,8,85.122398,2004,2,1,1,1193.113647
8521,7.21,2,0.145221,13,103.133202,2009,1,2,2,1845.597656
8522,14.8,1,0.044878,14,75.467003,1997,2,0,1,765.669983

In [45]:
from sklearn.preprocessing import OneHotEncoder
ohe= OneHotEncoder()

In [46]:
df_train = pd.get_dummies(df_train, columns=['item_fat_content', 'outlet_size', 'outlet_location_type', 'outlet_type'])

In [47]:
x = df_train.drop('item_outlet_sales', axis=1)

In [48]:
y = df_train['item_outlet_sales']

In [49]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=101, test_size=0.2)

In [50]:
x.describe()

,item_weight,item_visibility,item_type,item_mrp,outlet_establishment_year,item_fat_content_0,item_fat_content_1,item_fat_content_2,item_fat_content_3,item_fat_content_4,outlet_size_0,outlet_size_1,outlet_size_2,outlet_location_type_0,outlet_location_type_1,outlet_location_type_2,outlet_type_0,outlet_type_1,outlet_type_2,outlet_type_3
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857646,0.066132,7.226681,140.992770,1997.831867,0.037076,0.597090,0.338965,0.013141,0.013728,0.109351,0.610466,0.280183,0.280183,0.326763,0.393054,0.127068,0.654347,0.108882,0.109703
std,4.226124,0.051598,4.209990,62.275066,8.371760,0.188960,0.490512,0.473386,0.113885,0.116365,0.312098,0.487673,0.449115,0.449115,0.469057,0.488457,0.333069,0.475609,0.311509,0.312538
min,4.555000,0.000000,0.000000,31.290001,1985.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.310000,0.026989,4.000000,93.826500,1987.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,12.857645,0.053931,6.000000,143.012802,1999.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,16.000000,0.094585,10.000000,185.643707,2004.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,21.350000,0.328391,15.000000,266.888397,2009.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [51]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [54]:
x_train_std = sc.fit_transform(x_train)

In [55]:
x_train_std

array([[ 1.52290023,  0.68469731, -0.75847359, ...,  0.73160085,
        -0.34892775, -0.35759513],
       [-1.239856  , -0.09514746,  1.60759199, ...,  0.73160085,
        -0.34892775, -0.35759513],
       [ 1.54667619, -0.0083859 ,  0.66116576, ...,  0.73160085,
        -0.34892775, -0.35759513],
       ...,
       [-0.08197109, -0.91916229,  0.18795264, ...,  0.73160085,
        -0.34892775, -0.35759513],
       [-0.74888436,  1.21363045, -1.70489982, ...,  0.73160085,
        -0.34892775, -0.35759513],
       [ 0.67885675,  1.83915361,  0.4245592 , ..., -1.36686554,
         2.8659228 , -0.35759513]])

In [56]:
x_test_std

array([[-0.44354743, -0.19860257,  0.16640935, ..., -1.4129703 ,
         2.84062474, -0.32402203],
       [ 1.18274465, -0.51369355,  1.37376226, ...,  0.70772896,
        -0.35203524, -0.32402203],
       [-1.20558148,  0.18237795, -1.52388473, ...,  0.70772896,
        -0.35203524, -0.32402203],
       ...,
       [ 0.62515889,  0.90184011,  0.89082109, ..., -1.4129703 ,
        -0.35203524, -0.32402203],
       [ 0.97365005, -1.27256347,  0.40787993, ..., -1.4129703 ,
         2.84062474, -0.32402203],
       [-1.54477944, -1.08005617,  0.64935051, ...,  0.70772896,
        -0.35203524, -0.32402203]])

In [57]:
y_train

3684     163.786804
1935    1607.241211
5142    1510.034424
4978    1784.343994
2299    3558.035156
           ...
599     5502.836914
5695    1436.796387
8006    2167.844727
1361    2700.484863
1547     829.586792
Name: item_outlet_sales, Length: 6818, dtype: Float32

In [58]:
y_test

8179     904.822205
8355    2795.694092
3411    1947.464966
7089      872.86377
6954    2450.144043
           ...
1317    1721.093018
4996     914.809204
531      370.184814
3891    1358.232056
6629    2418.185547
Name: item_outlet_sales, Length: 1705, dtype: Float32

In [59]:
#ModelBuilding

In [60]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [61]:
lr.fit(x_train_std, y_train)

LinearRegression()

In [62]:
y_pred_lr = lr.predict(x_test_std)

In [63]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [64]:
print(r2_score(y_test, y_pred_lr))
print(mean_absolute_error(y_test, y_pred_lr))
print(np.sqrt(mean_squared_error(y_test, y_pred_lr)))

0.554981571554448
829.574787087842
1101.2890316875228

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_regression.py:95: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_true = check_array(y_true, ensure_2d=False, dtype=dtype)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_regression.py:95: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_true = check_array(y_true, ensure_2d=False, dtype=dtype)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_regression.py:95: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_true = check_array(y_true, ensure_2d=False, dtype=dtype)

In [65]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=1000)

In [66]:
rf.fit(x_train, y_train)

RandomForestRegressor(n_estimators=1000)

In [67]:
y_pred_rf = rf.predict(x_test_std)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [68]:
print(r2_score(y_test, y_pred_rf))
print(mean_absolute_error(y_test, y_pred_rf))
print(np.sqrt(mean_squared_error(y_test, y_pred_rf)))

-0.5146589422980696
1412.410051079734
2031.747540150415

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_regression.py:95: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_true = check_array(y_true, ensure_2d=False, dtype=dtype)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_regression.py:95: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_true = check_array(y_true, ensure_2d=False, dtype=dtype)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_regression.py:95: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_true = check_array(y_true, ensure_2d=False, dtype=dtype)

In [69]:
import joblib

In [70]:
joblib.dump(sc, r'sc.sav')

['sc.sav']

In [71]:
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV


#define models and parameters
model = RandomForestRegressor()
n_estimators = [10, 100, 1000]
max_depth = range(1, 31)
min_samples_leaf = np.linspace(0.1, 1.0)
max_features=["auto", "sqrt", "log2"]
min_samples_split=np.linspace(0.1, 1.0, 10)

#define grid search
grid = dict(n_estimators = n_estimators, max_depth = max_depth)

#cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=101)

grid_search_forest = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, scoring='r2', error_score=0, verbose=2, cv=2)
grid_search_forest.fit(x_train_std, y_train)

#summarize results
print(f"Best:{grid_search_forest.best_score_:.3f} using {grid_search_forest.best_params_}")
means = grid_search_forest.cv_results_['mean_test_score']
stds = grid_search_forest.cv_results_['std_test_score']
params = grid_search_forest.cv_results_['params']

for mean, stdev, param in zip(means, stds, params):
  print (f"{mean:.3f} ({stdev:.3f}) with: {param}")

Fitting 2 folds for each of 90 candidates, totalling 180 fits

/usr/local/lib/python3.7/dist-packages/joblib/externals/loky/process_executor.py:703: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

Best:0.595 using {'max_depth': 5, 'n_estimators': 1000}
0.249 (0.001) with: {'max_depth': 1, 'n_estimators': 10}
0.249 (0.003) with: {'max_depth': 1, 'n_estimators': 100}
0.249 (0.003) with: {'max_depth': 1, 'n_estimators': 1000}
0.458 (0.000) with: {'max_depth': 2, 'n_estimators': 10}
0.455 (0.002) with: {'max_depth': 2, 'n_estimators': 100}
0.456 (0.000) with: {'max_depth': 2, 'n_estimators': 1000}
0.549 (0.008) with: {'max_depth': 3, 'n_estimators': 10}
0.545 (0.003) with: {'max_depth': 3, 'n_estimators': 100}
0.547 (0.005) with: {'max_depth': 3, 'n_estimators': 1000}
0.590 (0.002) with: {'max_depth': 4, 'n_estimators': 10}
0.591 (0.003) with: {'max_depth': 4, 'n_estimators': 100}
0.591 (0.002) with: {'max_depth': 4, 'n_estimators': 1000}
0.592 (0.000) with: {'max_depth': 5, 'n_estimators': 10}
0.595 (0.000) with: {'max_depth': 5, 'n_estimators': 100}
0.595 (0.000) with: {'max_depth': 5, 'n_estimators': 1000}
0.591 (0.001) with: {'max_depth': 6, 'n_estimators': 10}
0.594 (0.000) with: {'max_depth': 6, 'n_estimators': 100}
0.593 (0.000) with: {'max_depth': 6, 'n_estimators': 1000}
0.585 (0.001) with: {'max_depth': 7, 'n_estimators': 10}
0.588 (0.001) with: {'max_depth': 7, 'n_estimators': 100}
0.589 (0.000) with: {'max_depth': 7, 'n_estimators': 1000}
0.573 (0.001) with: {'max_depth': 8, 'n_estimators': 10}
0.582 (0.002) with: {'max_depth': 8, 'n_estimators': 100}
0.584 (0.001) with: {'max_depth': 8, 'n_estimators': 1000}
0.565 (0.002) with: {'max_depth': 9, 'n_estimators': 10}
0.579 (0.001) with: {'max_depth': 9, 'n_estimators': 100}
0.579 (0.002) with: {'max_depth': 9, 'n_estimators': 1000}
0.561 (0.003) with: {'max_depth': 10, 'n_estimators': 10}
0.574 (0.001) with: {'max_depth': 10, 'n_estimators': 100}
0.575 (0.003) with: {'max_depth': 10, 'n_estimators': 1000}
0.546 (0.005) with: {'max_depth': 11, 'n_estimators': 10}
0.569 (0.001) with: {'max_depth': 11, 'n_estimators': 100}
0.570 (0.003) with: {'max_depth': 11, 'n_estimators': 1000}
0.544 (0.013) with: {'max_depth': 12, 'n_estimators': 10}
0.563 (0.003) with: {'max_depth': 12, 'n_estimators': 100}
0.566 (0.003) with: {'max_depth': 12, 'n_estimators': 1000}
0.542 (0.005) with: {'max_depth': 13, 'n_estimators': 10}
0.561 (0.007) with: {'max_depth': 13, 'n_estimators': 100}
0.562 (0.004) with: {'max_depth': 13, 'n_estimators': 1000}
0.527 (0.005) with: {'max_depth': 14, 'n_estimators': 10}
0.557 (0.004) with: {'max_depth': 14, 'n_estimators': 100}
0.559 (0.004) with: {'max_depth': 14, 'n_estimators': 1000}
0.529 (0.007) with: {'max_depth': 15, 'n_estimators': 10}
0.553 (0.003) with: {'max_depth': 15, 'n_estimators': 100}
0.557 (0.005) with: {'max_depth': 15, 'n_estimators': 1000}
0.523 (0.003) with: {'max_depth': 16, 'n_estimators': 10}
0.552 (0.005) with: {'max_depth': 16, 'n_estimators': 100}
0.555 (0.005) with: {'max_depth': 16, 'n_estimators': 1000}
0.520 (0.004) with: {'max_depth': 17, 'n_estimators': 10}
0.553 (0.006) with: {'max_depth': 17, 'n_estimators': 100}
0.553 (0.006) with: {'max_depth': 17, 'n_estimators': 1000}
0.514 (0.009) with: {'max_depth': 18, 'n_estimators': 10}
0.548 (0.005) with: {'max_depth': 18, 'n_estimators': 100}
0.552 (0.004) with: {'max_depth': 18, 'n_estimators': 1000}
0.519 (0.008) with: {'max_depth': 19, 'n_estimators': 10}
0.547 (0.006) with: {'max_depth': 19, 'n_estimators': 100}
0.552 (0.005) with: {'max_depth': 19, 'n_estimators': 1000}
0.511 (0.004) with: {'max_depth': 20, 'n_estimators': 10}
0.549 (0.003) with: {'max_depth': 20, 'n_estimators': 100}
0.552 (0.006) with: {'max_depth': 20, 'n_estimators': 1000}
0.514 (0.017) with: {'max_depth': 21, 'n_estimators': 10}
0.547 (0.007) with: {'max_depth': 21, 'n_estimators': 100}
0.551 (0.006) with: {'max_depth': 21, 'n_estimators': 1000}
0.514 (0.008) with: {'max_depth': 22, 'n_estimators': 10}
0.548 (0.007) with: {'max_depth': 22, 'n_estimators': 100}
0.550 (0.006) with: {'max_depth': 22, 'n_estimators': 1000}
0.509 (0.003) with: {'max_depth': 23, 'n_estimators': 10}
0.547 (0.007) with: {'max_depth': 23, 'n_estimators': 100}
0.550 (0.005) with: {'max_depth': 23, 'n_estimators': 1000}
0.515 (0.009) with: {'max_depth': 24, 'n_estimators': 10}
0.548 (0.006) with: {'max_depth': 24, 'n_estimators': 100}
0.550 (0.005) with: {'max_depth': 24, 'n_estimators': 1000}
0.506 (0.006) with: {'max_depth': 25, 'n_estimators': 10}
0.547 (0.005) with: {'max_depth': 25, 'n_estimators': 100}
0.551 (0.006) with: {'max_depth': 25, 'n_estimators': 1000}
0.509 (0.009) with: {'max_depth': 26, 'n_estimators': 10}
0.548 (0.005) with: {'max_depth': 26, 'n_estimators': 100}
0.551 (0.006) with: {'max_depth': 26, 'n_estimators': 1000}
0.510 (0.016) with: {'max_depth': 27, 'n_estimators': 10}
0.549 (0.006) with: {'max_depth': 27, 'n_estimators': 100}
0.551 (0.005) with: {'max_depth': 27, 'n_estimators': 1000}
0.513 (0.003) with: {'max_depth': 28, 'n_estimators': 10}
0.547 (0.004) with: {'max_depth': 28, 'n_estimators': 100}
0.551 (0.006) with: {'max_depth': 28, 'n_estimators': 1000}
0.504 (0.009) with: {'max_depth': 29, 'n_estimators': 10}
0.547 (0.005) with: {'max_depth': 29, 'n_estimators': 100}
0.551 (0.006) with: {'max_depth': 29, 'n_estimators': 1000}
0.510 (0.002) with: {'max_depth': 30, 'n_estimators': 10}
0.547 (0.006) with: {'max_depth': 30, 'n_estimators': 100}
0.550 (0.006) with: {'max_depth': 30, 'n_estimators': 1000}

In [72]:
grid_search_forest.best_params_

{'max_depth': 5, 'n_estimators': 1000}

In [73]:
grid_search_forest.best_score_

0.5954585419900233

In [74]:
y_pred_rf_grid = grid_search_forest.predict(x_test_std)

In [75]:
r2_score(y_test, y_pred_rf_grid)

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_regression.py:95: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_true = check_array(y_true, ensure_2d=False, dtype=dtype)

0.599416830907699

In [76]:
#Save your model

In [77]:
import joblib

In [78]:
joblib.dump(grid_search_forest, r'random_forest_grid.sav' )

['random_forest_grid.sav']

In [79]:
model=joblib.load ('random_forest_grid.sav')

In [80]:
model.predict(x_test_std)

array([1560.20999768, 2530.84264019, 1361.78762953, ...,  464.32229308,
       1934.29643164, 2535.68138286])

Hello